<!--
<div class="weui-footer" style="margin-bottom: 2.7rem;margin-top: .8rem">
  <p class="weui-footer__text">{$webconfig.title} Copyright © {$webconfig.copyright}<br>
备案号：豫ICP备17051046</p>
</div>
-->
<div class="weui-tab tab-bottom " style="height:2.7rem;" data-now="0">
	<div class="weui-tabbar">
		<a href="{:url('index')}" class="weui-tabbar__item"  >
			<i class="icon icon-27 f27 weui-tabbar__icon"></i>
			<p class="weui-tabbar__label">首页</p>
		</a>
		<a href="{:url('case')}?status=0" class="weui-tabbar__item" >
			<i class="icon icon-67 f27 weui-tabbar__icon"></i>
			<p class="weui-tabbar__label">案例</p>
		</a>
		<a href="{:url('order')}" class="weui-tabbar__item" >
          <!--  <span style="display: inline-block;position: relative;">
                <i class="icon icon-4 f27 weui-tabbar__icon"></i>
                <span class="weui-badge weui-badge_dot" style="position: absolute;top: 0;right: -6px;"></span>
            </span>-->
            <i class="icon icon-24 f27 weui-tabbar__icon"></i>
            <p class="weui-tabbar__label">订单</p>
        </a>
        <a href="{:url('user')}" class="weui-tabbar__item ">
        	<i class="icon icon-99 f27 weui-tabbar__icon" ></i>
        	<p class="weui-tabbar__label">个人中心</p> <!--  f-green> -->
        </a>
    </div>
</div>
<script>
	$(function(){
		$('.weui-tabbar__item').eq({$check}).addClass('weui-bar__item_on');
	})
</script>
</body>
</html>