
<!--     Auther :  萤火虫
email  : 445727994@qq.com -->
    <script type="text/html" id="is_authenTpl">
    	<input type="checkbox" name="is_authen" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="is_authen" {{ d.is_authen == 1 ? 'checked' : '' }}>
    </script>
        <script type="text/html" id="is_limitTpl">
    	<input type="checkbox" name="is_limit" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="is_limit" {{ d.is_limit == 1 ? 'checked' : '' }}>
    </script>
    <script type="text/html" id="is_showTpl">
    	<input type="checkbox" name="is_show" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="is_show" {{ d.is_show== 1 ? 'checked' : '' }}>
    </script>
 