{include file="base/edithead"/}
<div class="layui-form-item">
<label class="layui-form-label">订单号</label>
<div class="layui-input-block">
<input type="input" name="order_no" class="layui-input" lay-verify="require"  value="{$info.order_no}">
</div>
</div>
<div class="layui-form-item">
<label class="layui-form-label">购买人</label>
<div class="layui-input-block">
<select name="user_id" lay-verify="" >
{:select_option("eyJ3aGVyZSI6IiIsInRhYmxlIjoidXNlciIsIm9yZGVyIjoiaWQgZGVzYyIsImZpZWxkMSI6ImlkIiwiZmllbGQyIjoidXNlcm5hbWUifQ==",$info["user_id"])}</select>
</div>
</div>
<div class="layui-form-item">
<label class="layui-form-label">金额</label>
<div class="layui-input-block">
<input type="input" name="money" class="layui-input" lay-verify=""  value="{$info.money}">
</div>
</div>
<div class="layui-form-item">
<label class="layui-form-label">预约商品</label>
<div class="layui-input-block">
<select name="goods_id" lay-verify="" >
{:select_option("eyJ3aGVyZSI6ImlzX2RlbGV0ZT0wIiwidGFibGUiOiJnb29kcyIsIm9yZGVyIjoiaWQgZGVzYyIsImZpZWxkMSI6ImlkIiwiZmllbGQyIjoibmFtZSJ9",$info["goods_id"])}</select>
</div>
</div>
<div class="layui-form-item">
<label class="layui-form-label">预约时商品信息</label>
<div class="layui-input-block">
<select name="goods_content" lay-verify="" >
{:select_option("eyJ3aGVyZSI6ImlzX2RlbGV0ZT0wIiwidGFibGUiOiJnb29kcyIsIm9yZGVyIjoiaWQgZGVzYyIsImZpZWxkMSI6ImlkIiwiZmllbGQyIjoibmFtZSJ9",$info["goods_content"])}</select>
</div>
</div>
<div class="layui-form-item">
<label class="layui-form-label">自定义字段</label>
<div class="layui-input-block">
<input type="input" name="form_content" class="layui-input" lay-verify=""  value="{$info.form_content}">
</div>
</div>
<div class="layui-form-item">
<label class="layui-form-label">状态</label>
<div class="layui-input-block">
<select name="status" lay-verify="" >
<option value="1"  >待付款</option>
<option value="2"  >已付款</option>
<option value="3"  >商家确认</option>
<option value="4"  >用户确认,交易完成</option>
<option value="5"  >退款</option>
</select>
</div>
</div>
<!--固定提交button -->
<input  name="id" value="{$info.id}" hidden>
<div class="layui-form-item">
    <div class="layui-input-block">
        <button class="layui-btn" lay-submit="edit" lay-filter="edit">立即提交</button>
        <a href="{:url('index')}"><button type="button"  class="layui-btn layui-btn-primary">返回</button></a>
    </div>
</div>
<script>
    layui.use(['form', 'layedit', 'laydate'], function() {
        var form = layui.form,
        layer = layui.layer,
        layedit = layui.layedit
        //创建一个编辑器    
        //自定义验证规则
        form.verify({
            title: function(value) {
                if(value=="") {
                    return '页面title不能为空';
                }
            },
            url: function(value) {
                if(value=="") {
                    return 'url路径不能为空';
                }
            },
            //!$verify!  验证部分  做好替换即可
            //!$post! 提交部分  做好替换即可
            //!$tablfiled! 列表部分 做好
        });
        //监听提交 固定提交部分  编辑修改用
        form.on('submit(edit)', function(data) {
            ajaxYhc('POST','{:url("edit")}',data.field,
                function(result){
                    console.log(result);
                    if(result.code==0){
                        layer.msg(result.msg);
                        setTimeout('location.href="{:url(\'index\')}";',1500);
                    }else{
                        layer.msg(result.msg);
                    }
                    ;
                },
                function(result){
                    console.log(result);
                    layer.msg(result.msg);
                });
            return false;
        });
    });
</script>
{include file="base/editfoot"/}