{include file="base/head"/}
<body class="login-bg">
<div class="login layui-anim layui-anim-up">
  <div class="message">{$web.title}</div>
  <div id="darkbannerwrap"></div>
  <form method="post" class="layui-form" >
    <input name="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
    <hr class="hr15">
    <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
    <hr class="hr15">
    <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
    <hr class="hr20" >
    <input type="text" name="microtime" value="{$microtime}" hidden="hidden">
    <input type="text" name="token" value="{$token}" hidden="hidden">
    <input type="text" name="rand_num" value="{$rand_num}" hidden="hidden">
  </form>
</div>
</body>
<script>
  $(function  () {
    layui.use('form', function(){
      var form = layui.form;
      form.on('submit(login)', function(data){
      var param=data.field;
       ajaxYhc('post','login',param,function(){
         window.location.href="{:url('welcome/index')}";
       });
       return false;
     });

    });
  })
</script>
{include file="base/foot"/}